.product-grid {
  display: grid;
  gap: 16px 8px;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1536px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
